FORGEJO_BASE_URL=https://forgejo.eengine.pl
FORGEJO_OWNER=eengineSH
FORGEJO_REPO=ai-coding-template
FORGEJO_TOKEN=wklej_tutaj_token_api

GITHUB_BASE_URL=https://api.github.com
GITHUB_OWNER=eengineSH
GITHUB_REPO=ai-coding-template
GITHUB_TOKEN=wklej_tutaj_token_api
